.interval-heading {
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.TextTimer {
    font-family: PT Sans;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TextTimer--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.TextTimer-heading {
    font-family: PT Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 2px;
    margin-bottom: 6rem;
    width: 279px;
    height: 143px;

}




.abort-btn {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.7px;
    letter-spacing: 2px;
    color: #222222;
    border: 1px solid #222222;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    opacity: 60%;
    margin: 0;
}