/* HAMBURGERMENYN */
.set-timer {
    font-family: PT Sans;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.counter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 68px;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Count-heading {
    font-family: PT Sans;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;

}

.minutes-label {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.7px;
    letter-spacing: 2px;
    color: #22222299;

}

.Count-left,
.Count-right {
    font-size: 40px;
    color: #222222;
}


.flex-test {
    display: flex;
    padding: 20px 0px 0px 0px;
}

.checkmarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


.set__timer-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}

.start__timer-btn {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: PT Sans;
    border-radius: 5px;
    border: 2px solid #222222;
    cursor: pointer;
    width: 297px;
    height: 51px;
    position: absolute;
    bottom: 48px;
}

.set_timer--wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    accent-color: #000;
}